# This workflow will do a clean installation of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-nodejs

name: Publish to NPM registry and Dockerhub

# on:
#   push:
#     branches: [ "master" ]
#   pull_request:
#     branches: [ "master" ]

on:
  workflow_dispatch:
    inputs:
      npm_registry:
        description: 'Custom NPM_REGISTRY'
        required: false

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [18.16.1]
        # See supported Node.js release schedule at https://nodejs.org/en/about/releases/
    env:
      NPM_REGISTRY: ${{ github.event.inputs.npm_registry || 'https://registry.npmjs.org' }}
    steps:
    - uses: actions/checkout@v3
    - name: Set npm configuration
      run: |
        if [ -n "$NPM_REGISTRY" ]; then
          npm config set strict-ssl false
        fi
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v3
      with:
        node-version: ${{ matrix.node-version }}
        cache: 'npm'
        registry-url: '$NPM_REGISTRY'
    - run: npm install -g pnpm
    - run: npm ci
    - run: npm run build --if-present
#    - run: npm test
    - name: Use NPM Token
      # You may pin to the exact commit or the version.
      # uses: dkershner6/use-npm-token-action@99c5b17c84a15e44fdcef6712b34b76f8f0493b0
      uses: dkershner6/use-npm-token-action@v1
      with:
        # An NPM token with whatever access is needed for your GitHub Action workflow
        token: ${{ secrets.REGISTRY_TOKEN }}
        # The location of your Node workspace (needs to be a sibling of package.json)
  #      workspace: # optional, default is ./

    - run: npm pack
    - uses: actions/upload-artifact@v3
      with:
        name: telepilot
        path: telepilotco-n8n-nodes-telepilot-*.tgz

#    - run: npm publish

  build-and-test-in-docker:
    needs: [build]
    name: linux-${{ matrix.platform }}-${{ matrix.libc }} - build the node addon in docker
    runs-on: [ ubuntu-latest ]
    strategy:
      fail-fast: false
      matrix:
        platform:
          - x64
          - arm64
        libc:
          - glibc
          - musl
    steps:
      - uses: actions/download-artifact@v3
        with:
          name: telepilot
          path: .
      - run: tree .
      - run: docker run --privileged --rm tonistiigi/binfmt --install arm64
        if: matrix.platform == 'arm64' && matrix.libc == 'musl'
      - name: Create Dockerfile to build musl docker image
        if: matrix.libc == 'musl'
        run: |
          cat > Dockerfile <<EOF
          FROM n8nio/n8n:1.21.0

          RUN mkdir -p /home/node/.n8n/nodes
          COPY telepilotco-n8n-nodes-telepilot-*.tgz /home/node/.n8n/nodes/
          RUN npm config set registry http://npm.telepilot.co:4873/

          RUN cat /home/node/.npmrc

          RUN cd /home/node/.n8n/nodes && ls -laR && npm install telepilotco-n8n-nodes-telepilot-*.tgz

          RUN N8N_ENCRYPTION_KEY=${{ secrets.N8N_KEY }} n8n import:credentials -i /home/node/.n8n/nodes/node_modules/@telepilotco/n8n-nodes-telepilot/deploy/n8n-imports/credentials/credential-41.json
          RUN n8n import:workflow -i /home/node/.n8n/nodes/node_modules/@telepilotco/n8n-nodes-telepilot/deploy/n8n-imports/workflows/Telepilot_getMe.json
          RUN cat /home/node/.n8n/config

          ENTRYPOINT ["tini", "--", "/docker-entrypoint.sh"]
          EOF
      - name: Build n8n-alpine-dockerfile-installation
        if: matrix.libc == 'musl'
        uses: docker/build-push-action@v2
        with:
          context: .
          platforms: linux/${{ matrix.platform == 'arm64' && 'arm64' || 'amd64' }}
          push: false
          no-cache: true
          tags: n8n-alpine-dockerfile-installation

      - name: Run n8n in docker image
        if: matrix.libc == 'musl'
        run: |
          docker run ${{ matrix.platform == 'arm64' && '--platform linux/arm64' || '' }} \
            --rm \
            --name n8n-alpine-dockerfile-installation \
            -p 5678:5678 \
            -e DEBUG=tdl,telepilot-cred,telepilot-node,telepilot-trigger,telepilot-cm \
            -e EXECUTIONS_PROCESS=main \
            -e N8N_LOG_LEVEL=debug \
            docker.io/library/n8n-alpine-dockerfile-installation execute --id r2a0u5tez9fg1WW6 > execute-result.log 2>&1 \
            || exit 0
      - name: Install Telepilot in Ubuntu n8n
        if: matrix.libc == 'glibc'
        run: |
          mkdir -p ~/.n8n/nodes && cp telepilotco-n8n-nodes-telepilot-*.tgz ~/.n8n/nodes && cd ~/.n8n/nodes
          npm config set registry http://npm.telepilot.co:4873/
          npm install telepilotco-n8n-nodes-telepilot-*.tgz
      - name: Run n8n in Ubuntu n8n
        if: matrix.libc == 'glibc'
        run: |
          N8N_HOST=0.0.0.0 N8N_PORT=5678 N8N_ENCRYPTION_KEY=${{ secrets.N8N_KEY }} npx --yes n8n@1.21.0 \
            import:credentials -i ~/.n8n/nodes/node_modules/@telepilotco/n8n-nodes-telepilot/deploy/n8n-imports/credentials/credential-41.json
          npx n8n@1.21.0 \
            import:workflow -i ~/.n8n/nodes/node_modules/@telepilotco/n8n-nodes-telepilot/deploy/n8n-imports/workflows/Telepilot_getMe.json
          npx n8n@1.21.0 execute --id r2a0u5tez9fg1WW6 > execute-result.log 2>&1 || exit 0
      - name: Test Telepilot GetMe execution result
        run: |
          cat execute-result.log
          cat execute-result.log | grep "Please login" || exit 1
          cat execute-result.log | grep "Close Td in state 1" || exit 2


  publish:
    name: 'Publish to npm'
    needs: [build, build-and-test-in-docker]
    runs-on: ubuntu-latest
    env:
      NPM_REGISTRY: ${{ github.event.inputs.npm_registry || 'https://registry.npmjs.org' }}
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: lts/*
          cache: npm
          # registry-url is mandatory here
          registry-url: '$NPM_REGISTRY'
      - name: Publish
        if: "${{ inputs.npm-tag != '' }}"
        run: npm publish telepilotco-n8n-nodes-telepilot-*.tgz
        env:
          NODE_AUTH_TOKEN: ${{ secrets.REGISTRY_TOKEN }}
