# This workflow will do a clean installation of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-nodejs

name: Publish to NPM registry and Dockerhub

# on:
#   push:
#     branches: [ "master" ]
#   pull_request:
#     branches: [ "master" ]

on:
  workflow_dispatch:
    inputs:
      ADDON_VERSION:
        description: 'version of "tdlib-addon-prebuilt" from package.json'
        type: string
        required: true

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [18.16.1]
        # See supported Node.js release schedule at https://nodejs.org/en/about/releases/

    steps:
    - uses: actions/checkout@v3
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v3
      with:
        node-version: ${{ matrix.node-version }}
        cache: 'npm'
    - run: npm install -g pnpm
    - run: npm ci
    - run: npm run build --if-present
#    - run: npm test
    - name: Use NPM Token
      # You may pin to the exact commit or the version.
      # uses: dkershner6/use-npm-token-action@99c5b17c84a15e44fdcef6712b34b76f8f0493b0
      uses: dkershner6/use-npm-token-action@v1
      with:
        # An NPM token with whatever access is needed for your GitHub Action workflow
        token: ${{ secrets.REGISTRY_TOKEN }}
        # The location of your Node workspace (needs to be a sibling of package.json)
  #      workspace: # optional, default is ./

    - run: npm pack
    - uses: actions/upload-artifact@v3
      with:
        name: telepilot
        path: n8n-nodes-telepilot-0.2.0.tgz

#    - run: npm publish

  build-and-test-in-docker:
    name: linux-${{ matrix.platform }}-${{ matrix.libc }} - build the node addon in docker
    runs-on: [ ubuntu-latest ]
    strategy:
      fail-fast: false
      matrix:
        platform:
          - x64
          - arm64
        libc:
          - glibc
          - musl
    steps:
      - uses: actions/download-artifact@v3
        with:
          name: telepilot
          path: n8n-nodes-telepilot-0.2.0.tgz
      - run: tree .

